<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="team-container">
  <section class="team-member">
    <header>
      <h2 class="team-member__name">Te</h2>
    </header>
    <p class="team-member__bio">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.</p>
  </section>

  <section class="team-member">
    <header>
      <h2 class="team-member__name">Am</h2>
    </header>
    <p class="team-member__bio">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.</p>
  </section>

  <section class="team-member">
    <header>
      <h2 class="team-member__name">Me</h2>
    </header>
    <p class="team-member__bio">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.</p>
  </section>
</div>
<footer class="footer">
  <p class="footer-contact">Contact us: <span>admin@tweetful.io</span></p>
</footer>
